/*
    Japanese css font face define
*/

@font-face {
	font-family: 'Source Han Sans JP';
	font-style: normal;
	font-weight: normal;
	src: local('Source Han Sans JP'), local('SourceHanSansJP-Regular'),
		url('../fonts/SourceHanSans-VF.otf.woff2') format('opentype');
}

@font-face {
	font-family: 'Source Han Sans JP';
	font-style: italic;
	font-weight: normal;
	src: local('Source Han Sans JP'), local('SourceHanSansJP-Italic'),
		url('../fonts/SourceHanSans-VF.otf.woff2') format('opentype');
}

@font-face {
	font-family: 'Source Han Sans JP';
	font-style: normal;
	font-weight: bold;
	src: local('Source Han Sans JP'), local('SourceHanSansJP-Bold'),
		url('../fonts/SourceHanSans-VF.otf.woff2') format('opentype');
}

@font-face {
	font-family: 'Source Han Sans JP';
	font-style: italic;
	font-weight: bold;
	src: local('Source Han Sans JP'), local('SourceHanSansJP-BoldItalic'),
		url('../fonts/SourceHanSans-VF.otf.woff2') format('opentype');
}