/*
    Korean css font face define
*/

@font-face {
	font-family: 'Source Han Sans KR';
	font-style: normal;
	font-weight: normal;
	src: local('Source Han Sans KR'), local('SourceHanSansKR-Regular'),
		url('../fonts/SourceHanSansK-VF.otf.woff2') format('opentype');
}

@font-face {
	font-family: 'Source Han Sans KR';
	font-style: italic;
	font-weight: normal;
	src: local('Source Han Sans KR'), local('SourceHanSansKR-Italic'),
		url('../fonts/SourceHanSansK-VF.otf.woff2') format('opentype');
}

@font-face {
	font-family: 'Source Han Sans KR';
	font-style: normal;
	font-weight: bold;
	src: local('Source Han Sans KR'), local('SourceHanSansKR-Bold'),
		url('../fonts/SourceHanSansK-VF.otf.woff2') format('opentype');
}

@font-face {
	font-family: 'Source Han Sans KR';
	font-style: italic;
	font-weight: bold;
	src: local('Source Han Sans KR'), local('SourceHanSansKR-BoldItalic'),
		url('../fonts/SourceHanSansK-VF.otf.woff2') format('opentype');
}